{
  "MyModules": [
    {
      "Normal": {
        "Modules": [
          {
            "Name": "Terminal-Icons",
            "Source": "https://www.powershellgallery.com/packages/Terminal-Icons/0.11.0",
            "Version": "5"
          },
          {
            "Name": "PSWindowsUpdate",
            "Source": "https://www.powershellgallery.com/packages/PSWindowsUpdate/2.2.1.4",
            "Version": "5"
          }
        ]
      },
      "Extended": {
        "Modules": [
          {
          "Name": "Image2Text",
          "Source": "https://www.powershellgallery.com/packages/Image2Text/1.0.2",
          "Version": "5"
          }
        ]
      }
    }
  ]
}
